* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    font-family: Arial, sans-serif;
    margin: 15px 8px;
}

pre {
    display: block;
    line-height: 2px;
}

.panel {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    display: inline-block;
    float: left;
    margin: 10px;
    padding: 5px 8px;
}
.panel--title {
    color: #303030;
    font-size: 0.7rem;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
}
.panel--canvas {
    border: 1px solid #e0e0e0;
}
